<ng-container *ngIf="course">
    <div class="row">
        <div class="col-md-2" class="float-left">
            <img [src]="course.image" width="100%" height="auto">
        </div>
        <div class="col-md-2" >
        </div>
        <div class="col-md-2" class="float-righ">
            <h2>{{course.name  | uppercase }}</h2>

            <p>Course Price {{course.price}}</p>
            <p>Instructor {{course.instructor}}</p>
            <p>Duration {{course.duration}}</p>
            <p>Lectures {{course.lessons}}</p>
            <p>Enrolled Price {{course.students}}</p>
            <p>Language Price {{course.language }}</p>
            <p>Deadline Price {{course.deadline | date: 'd/M/yyyy h:mm a'}}</p>

        </div>
    </div>


</ng-container>