<footer class="bd-footer p-3 p-md-5 mt-5 text-center text-sm-start" style="background-color: blue;">
  <div class="row">
    <div class="col-mod-2" style="width: 20%;">
     
          <h3>Our Courses</h3>
          <p>Web Developer</p>
          <p>Web Developer</p>
      </div>
      <div class="col-mod-2" style="width: 20%;">
     
        <h3> </h3>
        <p>Web Developer</p>
        <p>Web Developer</p>
    </div>
      <div class="col-mod-2" style="width: 20%;">
        <h3>Company</h3>
        <p>Web Developer</p>
        <p>Web Developer</p>
      </div>
      <div class="col-mod-2" style="width: 40%;">
        <h3>Newsletters</h3>
        <p>dasdasdasdasdsasdasdasdasdasdasdasdasdasdsadadasddasdasdasd</p>
        
        <app-suscribe-form></app-suscribe-form>
      </div>

  </div>
  <div class="row">  
    <ul class="bd-footer-links ps-0 mb-3">
      <li class="d-inline-block">
        <a href="https://github.com/juramosd/nh-examen-everis">GitHub del proyecto</a>
      </li>
    </ul>
    <p class="mb-0">
      Proyecto del curso de angular 10 - Examen/Everis
    </p>
  </div>
</footer>